flows/Email_de_Anivers_rio_de_empresa.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Envio de emails aniversario empresa</description>
        <name>Envio_de_emails_aniversario_empresa</name>
        <label>Envio de emails aniversario empresa</label>
        <locationX>723</locationX>
        <locationY>466</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_verficar_dados_contatos</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Modeloemail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_verficar_dados_contatos.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>eduardodesafiosalesforce@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Aniversário de Empresa! {!Loop_verficar_dados_contatos.FirstName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>DiaAtual</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>Mesatual</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <interviewLabel>Email de Aniversário de empresa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email de Aniversário de empresa</label>
    <loops>
        <name>Loop_verficar_dados_contatos</name>
        <label>Loop verficar dados contatos</label>
        <locationX>504</locationX>
        <locationY>466</locationY>
        <collectionReference>curContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Envio_de_emails_aniversario_empresa</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Verifica os dia e meses de aniversário de empresa</description>
        <name>Verificar_data_contatos</name>
        <label>Verificar data contatos</label>
        <locationX>479</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_verficar_dados_contatos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dia_admiss_o__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DiaAtual</elementReference>
            </value>
        </filters>
        <filters>
            <field>M_s_admiss_o__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Mesatual</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>curContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Data_de_Admiss_o__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>372</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Verificar_data_contatos</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-17</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Modelo de email para aniversário de empresa</description>
        <name>Modeloemail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;Ebahh!!! Não parece mas hoje já é o seu aniversario de empresa, estamos felizes por você estar junto conosco!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://srconsulting2-dev-ed--c.documentforce.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Jpg&amp;amp;versionId=0688c000008qiHI&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T8c00000UV7IQ&amp;amp;page=0&amp;amp;d=/a/8c000000Lh2g/n3NRMeqZHDD15eDYZn0BJ.xmlRb9k1xMmGeztetFP6c&amp;amp;oid=00D8c000006fc9b&amp;amp;dpt=null&amp;amp;viewId=&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>curContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
