flows/Email_Anivers_rio.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviaremail</name>
        <label>Enviar email de aniversário para contatos</label>
        <locationX>763</locationX>
        <locationY>424</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>loop_contatos</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Modeloemail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>loop_contatos.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>eduardodesafiosalesforce@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Feliz Aniversário! {!loop_contatos.FirstName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>DiaAtual</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>mesatual</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <interviewLabel>Email Aniversário {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Aniversário</label>
    <loops>
        <name>loop_contatos</name>
        <label>loop contatos</label>
        <locationX>493</locationX>
        <locationY>426</locationY>
        <collectionReference>curContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Enviaremail</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_dados_do_Contato</name>
        <label>Obter dados do Contato</label>
        <locationX>494</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_contatos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dia_anivers_rio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DiaAtual</elementReference>
            </value>
        </filters>
        <filters>
            <field>M_s_anivers_rio__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mesatual</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>curContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Obter_dados_do_Contato</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-17</startDate>
            <startTime>21:53:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Modelo de email para aniversários</description>
        <name>Modeloemail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 24px; color: rgb(0, 0, 0);&quot;&gt;Uhulll!!! Hoje é seu aniversário, nós te desejamos um ótimo dia!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 24px; color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;img src=&quot;https://srconsulting2-dev-ed--c.documentforce.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Jpg&amp;versionId=0688c000008qgnf&amp;operationContext=DELIVERY&amp;contentId=05T8c00000UUugo&amp;page=0&amp;d=/a/8c000000Lh25/X6PuiM2JU42.QvuWXGVcUW3s65qfjMnU70oEZM0aSWU&amp;oid=00D8c000006fc9b&amp;dpt=null&amp;viewId=&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>curContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
